@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Playfair+Display:400,700');
/*
Theme Name: Pruebas
Author: Alejandra Zerda Guzman
Version: 0.1
License: GNU General Public License - SE COMPARTE EL CODIGO CON FINES ACADEMICOS O MUESTRA DE PORTAFOLIO
*/
/*AREA DE PRUEBAS PIXEL PERFECT
body.debug {
  background-image: url("../img/galeria.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 26px;
}
/*Opacidad para todos los descendientes del body.debug
body.debug>* {
  opacity: 0.6;
  background: rgba(255, 255, 255, 0.3);
}
*/
/*
*/
/*------------------------------------------------------------------------------*/
.uppercase { text-transform: uppercase;}
h1, h2, h3{ font-family: var(  --font2);}
h4, h5 {   }
h1{
  letter-spacing: -.02em;
  font-size: 4.765rem;
  line-height: 5.6rem;
  max-width: 1040px;
  margin-top: 5.6rem;
  margin-bottom: 2.8rem;
}
.titulo-tabla {
  font-size: 0.9em;
  color: rgb(155, 159, 159);
}
/*COLORS*/
:root{
  --color-white : #ffffff ;
  --color-black  : #000000 ;
  --color-gray   : rgb(54, 64, 63) ;
  --color-green  : rgb(0, 162, 72) ;
  --color-gray2  : rgb(245, 248, 247);
  --color-high  : rgb(255, 119, 87);
  --color-medium : rgb(255, 217, 106) ;
  --color-low    : rgb(155, 159, 159);
  --font1: 'Port Lligat Sans', sans-serif;;
  --font2: 'Open Sans', sans-serif;
}
.black { color: var(--color-black);}
.white { color: var(--color-white);}
.verde {color: var(--color-green); }
/*Background Colors */
.bg-ocher { background-color: var(--color-ocher);}


/*CONTAINER*/
body {
  font-family: var(  --font1);
  font-size: 20px;
  color: var(--color-gray);
  background-color: #fff;
  padding: 0 !important;
  margin: 0 !important;
}
* {   margin: 0;  padding: 0; }
a {   cursor: pointer;  text-decoration: none; color: var(--color-green); }
li { list-style: none; word-break: break-word;}
section { }
p { font-size: 1rem; }
.text-bold {font-weight: 900;}
.align-center {   text-align: center; }
.clear {  clear: both;}
.center{ margin: 0 auto;}
.fa, .fas { color: var(--colo-green); }
/*GRID propio cuando no se usa Bootstrap completo
*/
img {   max-width: 100%;  height: auto;}

/*Botones*/
.button {
  background-color: #F5F8F7;
  border-color: var(--color-gray);
  border: 1px solid;
}
.btn-green{   background-color: var(--color-white);   color: var(--color-green);  border: 1px solid rgb(0, 162, 72);}
.btn-gray2{   background-color: var(--color-gray2);   color: var(--color-gray);  border: 1px solid rgb(199, 213, 212); }
.btn-gray2 a { color: var(--color-gray) }

/*Bordes*/
.border-botom { border-bottom: 2px solid rgb(155, 159, 159);}


/*Filtro*/
select {
  padding: .5rem 1rem;
}
/*Tabla*/
/*modificaciones bootstrap*/
.col-md-2 {
    -ms-flex: 0 0 113.667%;
    flex: 0 0 113.667%;
    max-width: 13.667%;
}
/*Colores Circulos*/
.high { color: var(--color-high )}
.medium { color: var(--color-medium )}
.low  { color: var(--color-low )}

/*****************HEADER**************************/
/*Logo*/
/*Social media*/
/*Menu*/
/*Buscador*/
/*Submenu*/
/*Menu moviles*/
/***Slide menu Hamburguesa(Menu que se desplaza)*****/
/*****************FOOTER*****************************/
/*****************SIDERBAR***************************/
/****************************************************/
/*****************GENERAL SECTIONS*******************/
/*****************FRONT PAGE*************************/
/*****************SINGLE PAGE************************/
/*****************ARCHIVE****************************/
/*****************404********************************/
/*****************SINGLE POST************************/
/*****************ESTRUCTURAS GENERADAS**************/
